$color-default: rgb(74, 185, 247);


html, body {
  height: 100%;
  width: 100%;
  color: $color-default;
}

.modal-back {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
